@font-face {
    font-family: 'bold';
    src: url(../font/UniversNextProBold.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(../font/MonoCondensed-Regular.ttf);
}
@font-face {
    font-family: 'ligth';
    src: url(../font/Univers\ Next\ Pro\ Light.ttf);
}
@font-face {
    font-family: 'boldextra';
    src: url(../font/UniversNextProBold.ttf);
}
a{
    text-decoration: none;
    text-decoration-line: none;
}
body{
    background-color:black;
    color: white;
}
.header{
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    align-items: center;
    border-bottom: 0.1vw solid #52e88b;
    box-shadow: 0 0 10px 1px #52e88b;
    height: 8vw;
    color: white;
    font-family: 'bold';
    font-size: 1.3vw;
    padding: 0.5vw;
    text-decoration: none;
}
.header div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    text-decoration: none;
    color: white;
}
.logo{
    width: 8vw;
}
.img1{
    width: 4vw;
    margin-left: 5.5vw;
}
.img2{
    width: 4vw;
    margin-left: 2vw;
}
.img3{
    width: 4vw;
    margin-left: 0.5vw;
}
.img4{
    width: 4vw;
    margin-left: 2.5vw;
}
.img5{
    width: 2vw; 
    margin-left: 2.5vw;
    margin-top: 1vw;
}
.habilidades{
    margin-left: -3vw;
}
.certificaciones{
    margin-left: -4vw; 
}
.Proyectos{
    margin-left: -1.5vw; 
}
.Contacto{
    margin-left: -3.5vw; 
}
.hellow{
    font-family: 'boldextra';
    font-weight: 900;
    font-size: 4vw;
    color: white;
    margin-left: 20vw;
    margin-top: 12vw;
}
.name{
    font-family: 'boldextra';
    font-weight: 900;
    color: #5ad98b;
    font-size: 2.15vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 20vw;
    margin-top: -2vw;
}
.desarrolladora{
    font-family: 'ligth';
    font-size:1.5vw;
    color: white;
    margin-left: 26vw;
}
.frase{
    font-family: 'ligth';
    font-size: 1.5vw;
    width: 32vw;
    margin-left: 19.5vw;
    text-align: center;
}
.fotomia{
    margin-left: 65vw;
    margin-top: -20vw;
    width: 23vw;
    border-bottom: 0.1vw solid #52e88b;
    box-shadow: 0 0 10px 1px #52e88b;
    border-radius: 100%;
}
.botton1{
    position: relative;
    margin-left: 23.7vw;
    top: -2vw; 
    width: 10vw;
    height: 2.5vw;
    font-family: 'ligth';
    font-size: 1.3vw;
    color: #52e88b;
    font-weight: 900;
    background-color: black;
    border-color: #52e88b;
    box-shadow: 0 0 10px 1px #52e88b;
}
.botton2{
    position: relative;
    margin-left: 3vw;
    top: -2vw; 
    width: 10vw;
    height: 2.5vw;
    font-family: 'ligth';
    font-weight: 900;
    font-size: 1.3vw;
    background-color: #52e88b;
    color: black;
    box-shadow: 0 0 10px 1px #52e88b;
}

.secciones__perfil{
    margin-top: 11vw;
    width: 100%;
    height: 50vw;
    border: 0.1vw solid #52e88b;
    box-shadow: 0 0 10px 1px #52e88b;
}